
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --facebook:#3b5998;
    /* --twitter:#55acee; */
    --instagram:#e93b81;
}


.bgimg{
    background: url('../images and video/29.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: -8px;
    width: 100%;
    height: 50rem;
   
}

.nav-link:hover{
    border-bottom: 2px solid orange;
}

.headerset{
   
    padding-top: 200px;
    box-sizing: border-box;
}

.headerset h2{
    color: aquamarine;
    font-weight: bold;
    font-size: 73px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 10px 4px 7px black;
}

.headerset h1{
    text-shadow: 5px 6px 3px black;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#welcome{
    background: #000;
    text-align: center;
    position: absolute;
    top: 20%;
    left: auto;
    right: auto;
    transition: translate(-50%,-50%);
    width: 100%;
}

.text1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 9px;
    margin-bottom: 2rem;
    background-color: rgb(78, 90, 23);
    position: relative;
    animation: text 5s 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#carousel span{
    
    text-transform: uppercase;
    display: block;
}



.carousel-inner h1{
    color: white;
    background: black;
    font-family: 'Times New Roman', Times, serif;
}

#backImage{
    /* background: url('F:/final project/19.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/* .ourservices{
    padding: 100px 0px 60px;
} */

.ourservices a h1{
    animation: animation infinite .5s alternate;
    background-color:black;
    color: aqua;
    font-family: "Josefin Sans", sans-serif;
    
}

.ourservices a:hover{
    text-decoration: none;
}

#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}

#carding{
    background-image: linear-gradient(to bottom, #1569c7, #add8e6);
}

.card{
    box-shadow:  0 0 15px rgba(166,163,223,0.5);

}

.booking{
    background-color: #add8e6;
}

.ticket{
    animation: animation infinite .5s alternate;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
}

.ticket a{
    text-decoration: none;
}


footer ul{
    margin:0px;
    padding:0px;
}

.footer-section{
    background:#0c0e0f;
    position:relative;
}

.footer-cta{
    border-bottom:1px solid aqua;
}

.single-cta i{
    color:#f6521c;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text{
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4{
    color:white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span{
    color: darkgray;
}

.footer-content{
    position: relative;
    z-index: 2;
}

.footer-logo{
    margin-bottom: 30px;
}

.footer-logo img{
    max-width: 200px;
    border-radius: 50%;
}

.footer-text p{
    margin-bottom: 19px;
    font-size: 14px;
    color: darkgray;
    line-height: 280x;
}

.footer-social-icon span{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-social-icon a{
    color: white;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i{
    margin-top: 1rem;
    font-size: 20px;
    color:white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.fa-facebook{
    background: var(--facebook);
}

.fa-instagram{
    background: var(--instagram);
}

.footer-widget-heading h3{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background-color: #f6521c;
}

.footer-widget ul li{
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover{
    color: #f6521c;
    text-decoration: none;
}

.footer-widget ul li a{
    color: darkgray;
    text-transform: capitalize;
}

.subscribe-form{
    position: relative;
    overflow: hidden;
}

.subscribe-form button{
    position: absolute;
    right: 0;
    background-color: #f6521c;
    padding: 13px 20px;
    border: 1px solid #f6521c;
    top: 0;
}

.subscribe-form button i{
    color: white;
    font-size: 22px;
    transform: rotate(-66deg);
}

.subscribe-form input{
    width: 100%;
    padding: 14px 28px;
    background-color: rgb(47, 43, 43);
    border: 1px solid rgb(47, 43, 43);
    color: white;
}

.copyright-area{
    background: rgb(47, 43, 43);
    padding: 3px 0;
}

.copyright-text p{
    margin: 0;
    font-size: 18px;
    color: darkgray;
}

.copyright-text p a{
    color: #f6521c;
}


@media (max-width:1030px){
    .mb-30{
        margin-bottom: 30px;
    }
    .footer-text p, .footer-social-icon{
        margin-bottom: 30px;
    }
}

@keyframes text{
    0%{
        color:orange;
        margin-bottom:-40px;
    }
    30%{
        color: white;
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        color: black;
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@keyframes animation{
	0%{
        border-radius: 0%;
    }
    100%{
        border-radius: 50%;
    }
}

